
<div *ngIf="project">
    <h2><span jhiTranslate="studio57App.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="studio57App.project.name">Name</span></dt>
        <dd>
            <span>{{project.name}}</span>
        </dd>
        <dt><span jhiTranslate="studio57App.project.site">Site</span></dt>
        <dd>
            <span>{{project.site}}</span>
        </dd>
        <dt><span jhiTranslate="studio57App.project.date">Date</span></dt>
        <dd>
            <span>{{project.date_create | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="studio57App.project.description">Description</span></dt>
        <dd>
            <span>{{project.description}}</span>
        </dd>
        <dt><span jhiTranslate="studio57App.project.logo">Logo</span></dt>
        <dd>
            <div *ngIf="project.logo">
                <a (click)="openFile(project.logoContentType, project.logo)">
                    <img [src]="'data:' + project.logoContentType + ';base64,' + project.logo" style="max-width: 100%;" alt="project image"/>
                </a>
                {{project.logoContentType}}, {{byteSize(project.logo)}}
            </div>
        </dd>
        <dt><span jhiTranslate="studio57App.project.user">User</span></dt>
        <dd>
            <span *ngFor="let user of project.users; let last = last">
                {{user.login}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
