<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectLabel" jhiTranslate="studio57App.project.home.createOrEditLabel">Create or edit a Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!project.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="project.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.project.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="project.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.project.site" for="field_site">Site</label>
            <input type="text" class="form-control" name="site" id="field_site"
                [(ngModel)]="project.site" required />
            <div [hidden]="!(editForm.controls.site?.dirty && editForm.controls.site?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.site?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.project.date" for="field_date_create">Date</label>
            <div class="input-group">
                <input id="field_date_create" type="text" class="form-control" name="date_create" ngbDatepicker #date_createDp="ngbDatepicker" [(ngModel)]="project.date_create"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="date_createDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.project.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="project.description"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.project.logo" for="field_logo">Logo</label>
            <div>
                <img [src]="'data:' + project.logoContentType + ';base64,' + project.logo" style="max-height: 100px;" *ngIf="project.logo" alt="project image"/>
                <div *ngIf="project.logo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{project.logoContentType}}, {{byteSize(project.logo)}}</span>
                    <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logo" (change)="setFileData($event, project, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="logo" id="field_logo"
                [(ngModel)]="project.logo"  />
            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                [(ngModel)]="project.logoContentType" />
        </div>

        <div class="form-group">
            <label jhiTranslate="studio57App.project.user" for="field_user">User</label>
            <select class="form-control" id="field_user" multiple name="user" [(ngModel)]="project.users">
                <option [ngValue]="getSelected(project.users, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
