<div>
    <h2>
        <span jhiTranslate="studio57App.project.home.title">Projects</span>
        <button class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/', { outlets: { popup: ['project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="studio57App.project.home.createLabel">
            Create new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="studio57App.project.name">Name</span></th>
            <th><span jhiTranslate="studio57App.project.site">Site</span></th>
            <th><span jhiTranslate="studio57App.project.date">Date</span></th>
            <th><span jhiTranslate="studio57App.project.description">Description</span></th>
            <th><span jhiTranslate="studio57App.project.logo">Logo</span></th>
            <th><span jhiTranslate="studio57App.project.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['../project', project.id ]">{{project.id}}</a></td>
                <td>{{project.name}}</td>
                <td>{{project.site}}</td>
                <td>{{project.date_create | date:'mediumDate'}}</td>
                <td>{{project.description}}</td>
                <td>
                    <a *ngIf="project.logo" (click)="openFile(project.logoContentType, project.logo)">
                        <img [src]="'data:' + project.logoContentType + ';base64,' + project.logo" style="max-height: 30px;" alt="project image"/>
                    </a>
                    <span *ngIf="project.logo">{{project.logoContentType}}, {{byteSize(project.logo)}}</span>
                </td>
                <td>
                    <span *ngFor="let user of project.users; let last = last">
                            {{user.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../project', project.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
