<div>
    <h2>
        <span jhiTranslate="studio57App.document.home.title">Documents</span>
        <button class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/', { outlets: { popup: ['document-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="studio57App.document.home.createLabel">
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="documents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="studio57App.document.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="file"><span jhiTranslate="studio57App.document.file">File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date_load"><span jhiTranslate="studio57App.document.date_load">Date Load</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['../document', document.id ]">{{document.id}}</a></td>
                <td>{{document.name}}</td>
                <td>
                    <a *ngIf="document.file" (click)="openFile(document.fileContentType, document.file)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="document.file">{{document.fileContentType}}, {{byteSize(document.file)}}</span>
                </td>
                <td>{{document.date_load | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../document', document.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="documents && documents.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
