<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDocumentLabel" jhiTranslate="studio57App.document.home.createOrEditLabel">Create or edit a Document</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!document.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="document.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.document.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="document.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.document.file" for="field_file">File</label>
            <div>
                <div *ngIf="document.file" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(document.fileContentType, document.file)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{document.fileContentType}}, {{byteSize(document.file)}}</span>
                    <button type="button" (click)="document.file=null;document.fileContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_file" (change)="setFileData($event, document, 'file', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                [(ngModel)]="document.file" required />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                [(ngModel)]="document.fileContentType" />
            <div [hidden]="!(editForm.controls.file?.dirty && editForm.controls.file?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.file?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="studio57App.document.date_load" for="field_date_load">Date Load</label>
            <div class="input-group">
                <input id="field_date_load" type="text" class="form-control" name="date_load" ngbDatepicker  #date_loadDp="ngbDatepicker" [(ngModel)]="document.date_load"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="date_loadDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="studio57App.document.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" multiple name="project" [(ngModel)]="document.projects">
                <option [ngValue]="getSelected(document.projects, projectOption)" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
