
<div *ngIf="document">
    <h2><span jhiTranslate="studio57App.document.detail.title">Document</span> {{document.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="studio57App.document.name">Name</span></dt>
        <dd>
            <span>{{document.name}}</span>
        </dd>
        <dt><span jhiTranslate="studio57App.document.file">File</span></dt>
        <dd>
            <div *ngIf="document.file">
                <a (click)="openFile(document.fileContentType, document.file)" jhiTranslate="entity.action.open">open</a>
                {{document.fileContentType}}, {{byteSize(document.file)}}
            </div>
        </dd>
        <dt><span jhiTranslate="studio57App.document.date_load">Date Load</span></dt>
        <dd>
            <span>{{document.date_load | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'document/'+ document.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
